*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@font-face {
    font-family: anek;
    src: url(Anek-Devanagari-Regular.ttf);
}
html,body{
    height: 100%;
    width: 100%;
    /* background: #3498db; */
}
nav{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #20264D;
    position: relative;
    height: 70px;
    width: 100vw;
}

.logo{
    color: white;
}
.logo img{
    height: auto;
    width: 100px;
}

nav ul{
    display: flex;
    gap: 5vw;
    align-items: center;
    margin-right: 2.5vw;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: anek;
}
.menu-items{
    display: none;
}
.menu-items i{
    color: white;
    font-size: 30px;
}  
.upper-section{
    /* border: 2px solid black; */
    width: 100vw;
    height: auto;
    display: flex;
}
.upper-left-section img{
    width: 40vw;
    height: auto;
    /* border: 2px solid black; */
}
.upper-right-section{
    /* border: 2px solid black; */
    padding-right: 3vw;
}
.product-title p{
    /* border: 2px solid black; */
    font-family: anek;
    font-size: 4vw;
    line-height: 60px;
    margin-top: 6vw;
}
.cost-section{
    display: flex;
    align-items: baseline;
    gap: 5px;
    /* border: 2px solid black; */
}
.sp{
    font-family: anek;
    font-size: 3vw;
    color: red;
}
.gst{
    font-family: anek;
    font-size: 1.5vw;
}
.lower-section{
    /* border: 2px solid black; */
    width: 100vw;
    height: auto;
    margin-bottom: 25px;
}
.product-detail-section{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;

}
.row{
    display: flex;
    width: 44vw;
    justify-content: space-between;
    margin-left: 10px;
}
.col1{
    /* border: 2px solid black; */
    text-align: right;
    font-family: anek;
    font-size: 1.75vw;
}
.col2{
    /* border: 2px solid black; */
    text-align: right;
    font-family: anek;
    font-size: 2vw;
    color: #353333;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}
.order-button{
    background-color: #56D260;
    font-family: anek;
    font-size: 2.5vw;
    width: 40vw;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 5px grey;
}
.item-box{
    width: 24vw;
    /* height: 10vw; */
    border-radius: 25px;
    background-color: #FFAE00;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid black; */
    box-shadow: 0 5px 10px #727171;
}
.twemoji--building-construction {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2366757f' d='M28.25 8.513a.263.263 0 0 0-.263-.263h-.475a.263.263 0 0 0-.263.263v11.475c0 .145.117.263.263.263h.475a.263.263 0 0 0 .263-.263z'/%3E%3Cg fill='%23f19020'%3E%3Ccircle cx='27.75' cy='19.75' r='1.5'/%3E%3Ccircle cx='27.75' cy='22.25' r='1'/%3E%3C/g%3E%3Cpath fill='%23bd2032' d='M33.25 8.25h-4.129L9.946.29L9.944.289h-.001c-.016-.007-.032-.005-.047-.01C9.849.265 9.802.25 9.75.25h-.002a.5.5 0 0 0-.19.038a.5.5 0 0 0-.122.082c-.012.009-.026.014-.037.025a.5.5 0 0 0-.11.164V.56c-.004.009-.003.02-.006.029l-5.541 7.81l-.006.014a.99.99 0 0 0-.486.837v2a1 1 0 0 0 1 1h1.495L2.031 34H.25v2h18.958v-2h-1.74l-3.713-21.75H33.25a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1m-21.769 4L9.75 13.639L8.02 12.25zM9.75 21.3l3.667 2.404l-3.667 2l-3.667-2zm-3.639.71l.474-2.784l1.866 1.223zm4.938-1.561l1.87-1.225l.477 2.789zm-1.299-.866l-2.828-1.885l2.828-2.322l2.828 2.322zm-2.563-3.887l.362-2.127l1.131.928zm3.633-1.198l1.132-.929l.364 2.13zM5.073 8.25L9.25 2.362V6.25h-2a1 1 0 0 0-1 1v1zm.53 16.738l2.73 1.489l-3.29 1.794zM15.443 34H4.067l.686-4.024L9.75 27.25l5.006 2.731zm-1.54-9.015l.562 3.291l-3.298-1.799zM13.25 8.25v-1a1 1 0 0 0-1-1h-2V1.499L26.513 8.25zm2 3h-1.16v-2h1.16zm3 0h-2v-2h2zm3 0h-2v-2h2zm3 0h-2v-2h2zm3 0h-2v-2h2zm3 0h-2v-2h2zm3-.5a.5.5 0 0 1-.5.5h-1.5v-2h1.5a.5.5 0 0 1 .5.5z'/%3E%3Cpath fill='%234b545d' d='M12.25 7.25h-2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h3v-4z'/%3E%3Cpath fill='%23cdd7df' d='M11.25 7.25h2v4h-2z'/%3E%3Cpath fill='%2366757f' d='M34.844 24v-1H20.656v1h.844v2.469h-.844v1h14.188v-1H34V24z'/%3E%3C/svg%3E");
  }
.item-box p{
    text-align: center;
    font-family: anek;
    font-size: 2vw;
    line-height: 40px;
    padding: 10px;
    color: white;
}
.icon-vector{
    display: flex;
    /* border: 2px solid black; */
    width: 100%;
    aspect-ratio: 2;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.upper-box{
    display: flex;
    gap: 5vw;
    margin-top: 5vw;
}
.container-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lower-box{
    margin-top: 5vw;
    display: flex;
    gap: 5vw;
}
.noto-v1--construction-worker {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%231565c0' d='M7.98 118.17v9.89h87.14v-9.89c0-15.17-21.39-22.87-43.24-22.84c-21.71.03-43.9 6.78-43.9 22.84'/%3E%3Cpath fill='%23e49500' d='M51.57 90.33h-9.08v9.59c0 4.34 3.7 7.86 8.26 7.86h1.65c4.56 0 8.26-3.52 8.26-7.86v-9.59z'/%3E%3Cpath fill='%23444' d='M60.85 78.19H42.39c-1.06 0-1.51.71-.81 1.78c.98 1.49 4.61 4.36 10.04 4.36s9.06-2.87 10.04-4.36c.7-1.07.25-1.78-.81-1.78'/%3E%3Cpath fill='%23e49500' d='M56.03 70.35c-1.57.44-3.2.66-4.46.66s-2.89-.22-4.46-.66c-.67-.19-.94.45-.69.87c.5.88 2.5 2.64 5.15 2.64s4.65-1.77 5.15-2.64c.24-.43-.02-1.06-.69-.87'/%3E%3Cpath fill='%23e39400' d='M83.76 52.5s5.89 1.02 5.89 7.37c0 5.6-4.3 7.81-8.6 7.81V52.5zm-64.27 0s-5.89 1.02-5.89 7.37c0 5.6 4.3 7.81 8.6 7.81V52.5z'/%3E%3Cpath fill='%23fac01b' d='M51.62 10.94c-25.4 0-32.04 19.69-32.04 47.35c0 28.68 18.43 36.1 32.04 36.1c13.41 0 32.04-7.2 32.04-36.1c.01-27.67-6.64-47.35-32.04-47.35'/%3E%3Cpath fill='%23444' d='M41.07 60.85c0 2.86-1.91 5.17-4.28 5.17c-2.36 0-4.29-2.32-4.29-5.17c0-2.86 1.92-5.18 4.29-5.18s4.28 2.32 4.28 5.18m21.1 0c0 2.86 1.91 5.17 4.29 5.17c2.36 0 4.28-2.32 4.28-5.17c0-2.86-1.92-5.18-4.28-5.18c-2.38 0-4.29 2.32-4.29 5.18'/%3E%3Cpath fill='%23513f35' d='M60.9 78.32H42.36c-1.06 0-1.52.71-.82 1.79c.98 1.5 4.64 4.38 10.09 4.38s9.11-2.88 10.09-4.38c.7-1.07.24-1.79-.82-1.79'/%3E%3Cpath fill='%23e39400' d='M56.1 70.44c-1.58.45-3.22.66-4.48.66s-2.9-.22-4.48-.66c-.67-.19-.94.45-.7.87c.5.88 2.52 2.66 5.18 2.66s4.68-1.78 5.18-2.66c.24-.42-.02-1.06-.7-.87'/%3E%3Cpath fill='%236d4c41' d='M52.39 7.32s-.5-.02-.71-.01c-.21 0-.71.01-.71.01c-27.41.53-35.67 17.02-35.67 28.46c0 11.11.01 19.28.01 19.28s.44-.45 1.24-1.08c.86-.67 1.81-1.04 1.81-1.04l1.38 9.28l9.13-19.08c.06-.12.18-.19.31-.17l5.41.6c5.44.6 10.91.9 16.37.91v.01c.24 0 .47-.01.71-.01s.47.01.71.01v-.01c5.46-.02 10.93-.31 16.37-.91l5.41-.6c.13-.01.25.06.31.17l9.13 19.08l1.4-9.29s.95.38 1.81 1.04c.81.63 1.24 1.08 1.24 1.08s.01-8.16.01-19.28c0-11.43-8.26-27.92-35.67-28.45'/%3E%3Cpath fill='%23ff6d00' d='M36.34 96.54q-2.52.42-4.92.99c-2.31.55-4.53 1.2-6.61 1.96c-1.63.59-3.19 1.25-4.64 1.98v26.56h26.26l-6.18-19.31zm42.21 3.17c-2.09-.8-4.31-1.49-6.63-2.08c-1.69-.42-3.43-.8-5.21-1.1l-3.9 12.19l-6.18 19.31h26.26v-26.4c-1.37-.7-2.83-1.34-4.34-1.92'/%3E%3Cpath fill='%23ff0' d='m24.8 99.49l1.81 28.54h14l-9.2-30.5c-2.31.55-4.52 1.2-6.61 1.96m47.12-1.86l-9.17 30.4h14l1.8-28.32c-2.09-.8-4.31-1.49-6.63-2.08'/%3E%3Cellipse cx='51.52' cy='37.88' fill='%23ffea00' rx='43.57' ry='11.38'/%3E%3Cellipse cx='51.52' cy='35.81' fill='%23ff0' rx='43.57' ry='11.38'/%3E%3Cdefs%3E%3Cpath id='notoV1ConstructionWorker0' d='M90.42 34.28C89.77 22.02 80.53 1.42 52.28.89c0 0-.53-.02-.76-.01c-.23 0-.76.01-.76.01c-28.26.53-37.5 21.13-38.14 33.39c0 9.59 77.8 9.59 77.8 0'/%3E%3C/defs%3E%3Cuse fill='%23ff0' href='%23notoV1ConstructionWorker0'/%3E%3CclipPath id='notoV1ConstructionWorker1'%3E%3Cuse href='%23notoV1ConstructionWorker0'/%3E%3C/clipPath%3E%3Cpath fill='%23ffea00' d='M34.22 3.23L41.17.88v23.75c-1.41-10.26-3.43-17.69-6.95-21.4m34.59 0L61.86.88v23.75c1.42-10.26 3.44-17.69 6.95-21.4' clip-path='url(%23notoV1ConstructionWorker1)'/%3E%3Cpath fill='%23ff0' d='M59.57 37.61h-16.1c-1.47 0-2.67-1.2-2.67-2.67v-32c0-1.47 1.2-2.67 2.67-2.67h16.1c1.47 0 2.67 1.2 2.67 2.67v32c0 1.48-1.2 2.67-2.67 2.67'/%3E%3Cpath fill='%23fbc11b' d='M101.86 107.61c1.5.37 2.46 1.43 3.13 2.75c1.67-.3 4.55-.6 5.39-.58c.99.03 2.3.14 2.52 2.17c.14 1.32-.36 2.41-2.05 2.57c-.63.06-1.28.1-1.92.13l.23.74c.59-.01 1.12-.03 1.53-.03c1.71-.02 2.68.89 2.68 2.7c0 1.59-1.37 2.34-2.37 2.4c-.53.03-2.01-.05-3.47-.19l-.15.31l-.06.09c.92.14 1.8.29 2.42.4c1.67.3 2.47 1.41 2.28 2.73c-.23 1.6-1.66 2.04-2.65 2.01c-.74-.02-3.34-.43-5.08-.8l-.34.49q.18.03.39.06c.02 0 .04.01.07.01l.35.06c.03 0 .05.01.08.01c.14.02.28.05.42.07h.02c.15.02.3.05.45.08c.03 0 .06.01.08.01l.35.06c.05.01.09.02.14.02c.1.02.2.04.29.05l.15.03c.1.02.19.04.28.05l.14.03c.13.03.27.05.39.08c1.53.32 2.11 1.01 1.92 2.22c-.26 1.7-1.97 2.08-2.88 1.99c-.91-.08-3.97-.71-4.97-1.15l-.18-.09l-.35.5c-4.5-.3-7.73-2.18-7.73-2.18c-2.64-1.48-3.08-2.62-3.52-4.43c-.5-2.06-.38-4.5-.36-4.88c.16-4.1 1.07-6.75 4.38-8.95c.8-.53 1.97-1.46 4.56-1.76c1-.1 2.44-.03 3.44.22'/%3E%3Cpath fill='%23e49500' d='M105.6 114.42s.04-2.06-.61-4.06l.72-.13s.51 1.42.69 3.52c.03.34.04.65.04.95l.64-.04l4.29-.24s-.32.06-.32.54c0 .2.12.33.21.41c-.18-.02-.38-.04-.58-.03l-4.26.11c-.01.12-.01.24-.02.37c-.1 1.74-.51 3.41-1.48 4.05c3.22.38 6.08.57 6.08.57c-.56.23-.32.91-.32.91c-2.17-.59-7.43-.9-7.43-.9c-2.22-.19-2.52 1.31-2.52 1.31c-.41 1.81 1.56 2.64 1.56 2.64c.26.15 2.61.62 4.29.94l1.68.31l.47.09c-.05-.01-.25-.02-.33.31c-.04.16 0 .27.03.34c-.25-.11-.55-.21-.9-.28c-.79-.16-3.18-.55-3.36-.58l-.6-.08c-1.98-.26-2.46.09-2.46.09c-1.1.58-.78 1.98-.78 1.98c.24 1.35 1.73 1.77 1.73 1.77c.57.17 3.59.9 3.59.9l-4.57-.6c-.32-.1-.44-.25-.62-.39c-1.61-1.32-.93-3.11-.93-3.11c.25-.69.77-1 .77-1c.31-.19.67-.29 1.04-.33c-1.87-.99-1.57-2.99-1.57-2.99c.24-1.23 1.13-1.75 1.83-1.97c-.06-.05-.13-.1-.19-.16c0 0-1.2-.79-.76-4.18c.15-1.14.13-1.3.01-2.02c0 0-.43-1.54-1.71-1.05c0 0-.43.11-1.1.64c0 0-.54.42-.53-.24c0-.2.14-.56.41-.87c0 0 .28-.33.97-.52c0 0 1.79-.71 2.68 1.08c.47.94.38 1.56.23 2.52c0 0-.28 3.03.51 4c0 0 .78.89 2.03.34c.01.02 1.71-.92 1.45-4.92'/%3E%3Cpath fill='%23f79329' d='m96.25 126.16l7.21-51.92l7.98 1.2l-8.61 51.71c-.2 1.33-1.83 2.19-3.63 1.92c-1.82-.27-3.15-1.58-2.95-2.91'/%3E%3Cdefs%3E%3Cpath id='notoV1ConstructionWorker2' d='M87.43 70.52c3.43-5.21 9.39-7.36 14.03-7.74c1.2-.1 2.4.06 3.28.16c1.53.18 4.73.82 4.73.82l3.96.69c.1.02.19.05.29.07c.84.13 1.79.21 2.65.13c1.07-.1 1.59-.71 2.8-.93c.58-.1 1.22-.1 1.77-.05c.19-.01.38 0 .57.04l.4.07c.22.03.36.06.36.06l3.52.61c1.4.24 2.37 1.41 2.17 2.6l-2.07 11.98c-.21 1.19-1.52 1.96-2.92 1.72l-3.52-.61s-.15-.02-.36-.06l-.4-.07c-.19-.03-.38-.09-.55-.15c-.53-.15-2.06-2.04-2.57-2.33c-1.07-.61-1.36.79-2.7 1.15c-.76.2-1.67.04-1.91 0l-.32-.06c-.26-.04-.5-.08-.63-.11l-6.98-1.21c-.98-.17-1.73-.79-2.04-1.55c-.08-.21-.29-.87-.33-1.04c-.39-1.72-1-4.04-3.04-4.39c-2.23-.39-4.68 1.21-4.68 1.21s-2.16 1.52-4.16.85c-1.98-.66-1.35-1.86-1.35-1.86'/%3E%3C/defs%3E%3Cuse fill='%2378a3ad' href='%23notoV1ConstructionWorker2'/%3E%3Cpath fill='%23f79329' d='M104.49 62.08c-.15.45-.16.99-.19 1.46c-.03.42.19.85.52 1.12c.34.28.82.47 1.24.61c.84.28 1.68.5 2.56.61c.44.06.87.03 1.31 0c.42-.02.86-.01 1.27-.14c.36-.11.77-.19 1.12-.34c.44-.19.69-.25.84-.72c.14-.44.26-.85.31-1.31c.07-.64-.01-1.05-.57-1.42c-1.06-.71-2.46-.89-3.68-1.05c-1.15-.15-2.41-.16-3.5.17c-.64.21-1.02.37-1.23 1.01'/%3E%3Cpath fill='%23fff' d='M120.73 68.93c-.81-.25-1.12-.45-1.31-.8c-.25-.48-.05-1.2.14-1.71c.17-.47.86-.62 1.71-.51s2.65.35 2.89.41c.33.08.64.21.86.39c.62.52.62 1.53.18 2.18c-.26.39-.71.51-1.19.52c-.52.02-2.75-.31-3.28-.48m-6.7.58c-1.27.21-2.9.13-3.34.13c-1.66-.01-3.81-.27-5.88-.79c-2.15-.54-3.17-1.56-4.37-1.91c-.94-.27-2.08-.15-3.03-.27c-.1-.01-.65-.08-.8-.3c-.25-.39.25-.7 1.12-.99c.41-.14 2.29-.7 4.23-.72c.11 0 .58.01.79.3c.94 1.29 1.53 1.9 3.23 2.28c1.55.35 3.2.58 5.17.52s1.93-1.06 2.95-.96c.24.02.55.06.82.11c.59.12.62.49.58.73c-.06.38-.18.86-.23 1.12c-.09.5-.85.69-1.24.75'/%3E%3Cpath fill='%23fbc11b' d='M110.89 120.45h.11c.99-.06 2.36-.81 2.37-2.4c0-1.74-.89-2.64-2.48-2.69l-.07-.37l.52-.03c.88-.21 1.34-.74 1.5-1.42c.06-.1.08-1.24.07-1.37c-.08-1.07-.47-1.57-.47-1.57c-.4-1.02-2.86-.79-2.86-.79l-4.49.6c-.16-.05-.32-.1-.47-.15c-.65-1.02-1.52-1.81-2.77-2.12c-1-.24-2.43-.32-3.44-.2c-2.59.3-3.76 1.23-4.56 1.76c-.17.11-.31.23-.46.35c.91 1.65 2.29 3.38 3.98 3.09c.11-.25.29-.51.37-.6c.36-.39.86-.67 1.39-.73c.83-.1 1.69.31 2.14 1.01c.7 1.08-.11 2.51-.16 3.8c-.02.61.48 1.2.6 1.8c.11.57.33 1.17.82 1.48c.03.02.08.02.11.04c-.03.1-.1.3-.18.56c-.32.02-.63.08-.9.23c-.62.34-.94 1.09-.86 1.78c.06.51.33.98.71 1.33c-.24.78-.44 1.48-.54 1.89c-.69.53-.76 1.66-.28 2.41c.5.79 1.42 1.22 2.33 1.45s1.85.31 2.74.61c-.05-.01-.09-.01-.14-.02c.45.08.83.14 1.07.16c.9.08 2.62-.3 2.88-1.99c.15-.97-.21-1.6-1.14-1.98c-.07-.25-.19-.53-.26-.74c.17.03.35.07.52.1c.33.04.61.07.78.07c.99.03 2.43-.41 2.65-2.01c.15-1.06-.34-1.97-1.4-2.45c-.39-.08-.79-.14-1.18-.21c.16-.26.32-.52.48-.77z'/%3E%3Cpath fill='%23e49500' d='M111.33 115.39c-.14-.18-.17-.47-.17-.47h-.03c-.36-.03-4.67-.21-4.67-.21c-.02-1.39-.59-3.05-.98-4.38c-.26-.03-.57 0-.84-.09c.34 1.31.97 2.84 1.01 4.18c.03.9-.03 1.79-.22 2.67c-.15.71-.39 1.43-.91 1.94s-1.37.72-1.98.33c-.49-.31-.7-.91-.82-1.48c-.12-.6-.17-1.21-.14-1.81c.05-1.29.4-2.7-.29-3.78c-.45-.7-1.32-1.11-2.14-1.01c-.53.06-1.03.34-1.39.73c-.17.19-.83 1.13-.15 1.15c.19 0 .36-.13.51-.25c.46-.37 1.04-.71 1.61-.54c.7.21.97 1.06 1 1.79c.04 1-.17 1.99-.17 2.98c0 1 .27 2.07 1.04 2.7c-1.04.23-1.81 1.26-1.84 2.33s.64 2.09 1.57 2.61c-.87.02-1.63.72-1.86 1.56s.03 1.76.56 2.45c.23.3.51.56.85.72c.07.03.15.05.23.07l.32-.46l-.11.15l-.22.31c.23.07.48.11.72.15c.14.02.28.04.43.05c1.09.14 2.18.28 3.27.41c.05.01.09.01.14.02c-.89-.3-1.83-.38-2.74-.61s-1.82-.66-2.33-1.45c-.5-.79-.41-2 .38-2.49c.48-.3 1.07-.28 1.63-.24c.89.06 1.77.17 2.65.31c.24.04.48.08.71.12l.18.03c.05.01.09.02.14.02c.1.02.2.04.29.05l.15.03c.1.02.19.04.28.05l.14.03c.13.03.27.05.39.08c.27.06.49.13.7.2c.06.02.13.03.19.05c-.14-.23.03-.58.29-.62l-.14-.03l-4.89-.96c-.64-.13-1.3-.26-1.85-.59c-.6-.36-1.06-.98-1.15-1.68s.24-1.45.86-1.78c.47-.26 1.03-.25 1.57-.24c2.51.08 5.02.37 7.49.86c.02 0 .05.01.07.01c-.16-.31 0-.75.32-.89c-.04 0-.08-.01-.11-.01c-1.98-.18-3.96-.37-5.94-.55c1.21-1.06 1.39-2.85 1.48-4.45c0-.01 4.71-.07 4.91-.07'/%3E%3C/svg%3E");
  }
  .pixelarticons--contact-plus {
    display: inline-block;
    width: 120px;
    height: 120px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M2 3h22v11h-2V5H2v14h12v2H0V3zm8 4H6v4h4zm-6 6h8v4H4zm16-6h-6v2h6zm-6 4h6v2h-6zm3 4h-3v2h3zm4 6v3h-2v-3h-3v-2h3v-3h2v3h3v2z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  .twemoji--delivery-truck {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23dd2e44' d='M36 27a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4v-3a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23ffcc4d' d='m19 13l-.979-1H7.146C4 12 3 14 3 14l-3 5.959V25h19z'/%3E%3Cpath fill='%2355acee' d='M9 20H2l2-4s1-2 3-2h2z'/%3E%3Ccircle cx='9' cy='31' r='4' fill='%23292f33'/%3E%3Ccircle cx='9' cy='31' r='2' fill='%23ccd6dd'/%3E%3Ccircle cx='27' cy='31' r='4' fill='%23292f33'/%3E%3Ccircle cx='27' cy='31' r='2' fill='%23ccd6dd'/%3E%3Cpath fill='%23ccd6dd' d='M32 8H17a4 4 0 0 0-4 4v13h23V12a4 4 0 0 0-4-4'/%3E%3C/svg%3E");
  }
  .emojione--house {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23d0d0d0' d='M32.4 4.3h3.4v6.5h-3.4z'/%3E%3Cpath fill='%2394989b' d='M35.8 4.3h2.3v6.5h-2.3z'/%3E%3Cpath fill='%23d0d0d0' d='M31.2 2h5.7v2.3h-5.7z'/%3E%3Cpath fill='%2394989b' d='M36.9 2h2.3v2.3h-2.3z'/%3E%3Cpath fill='%23ed4c5c' d='M24.2 2L2.7 14.3h43.1z'/%3E%3Cpath fill='%23f9f3d9' d='M8.8 14.3h30.9v19H8.8z'/%3E%3Cpath fill='%23d6eef0' d='M20.4 20h7.7v7.7h-7.7z'/%3E%3Cpath fill='%2389664c' d='M19.4 19v9.6H29V19zm8.7 1v3.4h-3.4V20zm-4.3 0v3.4h-3.4V20zm-3.4 7.7v-3.4h3.4v3.4zm4.3 0v-3.4h3.4v3.4z'/%3E%3Cpath fill='%23f9f3d9' d='M6.4 40.9H52v19.3H6.4z'/%3E%3Cpath fill='%23d6eef0' d='M36.9 46.6h7.7v7.7h-7.7z'/%3E%3Cpath fill='%2389664c' d='M35.9 45.7v9.6h9.6v-9.6zm8.7.9V50h-3.4v-3.4zm-4.4 0V50h-3.4v-3.4zm-3.3 7.7V51h3.4v3.4h-3.4zm4.3 0V51h3.4v3.4h-3.4zm-22.8-6h8.4v11.8h-8.4z'/%3E%3Cpath fill='%23dbb471' d='M17.6 46.6h10.1v1.7H17.6z'/%3E%3Ccircle cx='25.4' cy='53.4' r='.6' fill='%23f9f3d9'/%3E%3Cpath fill='%2383bf4f' d='M2 60.1h60V62H2z'/%3E%3Cpath fill='%23ed4c5c' d='M49.6 33.4H8.7L2 40.9h54.4z'/%3E%3Cpath fill='%2383bf4f' d='M62 56.2c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.3-.5-.8-.9-1.4-.9c-.4 0-.7.1-1 .3v-.3c0-.9-.7-1.6-1.6-1.6c-.8 0-1.4.6-1.6 1.3c-.2-.2-.4-.2-.7-.2c-.6 0-1.1.5-1.1 1.1v6.3h8.4c.9 0 1.6-.7 1.6-1.6c0-.4-.2-.8-.4-1.1c.4-.4.6-.8.6-1.3'/%3E%3Cpath fill='%23699635' d='M62 58.5c0-.4-.2-.8-.4-1.1c.3-.4.4-.8.4-1.3c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.2-.3-.4-.6-.8-.8c-.6.2-.9.8-.9 1.4c0 .2 0 .3.1.4c-.1-.1-.3-.1-.5-.1c-.6 0-1.1.5-1.1 1.1q0 .6.6.9c-.2.3-.4.7-.4 1.1c0 1 .8 1.8 1.8 1.8h2.4c.9.2 1.6-.5 1.6-1.4m-6.2.3c0 .6-.5-.2-1.1-.2s-1.1.8-1.1.2s.5-1.1 1.1-1.1s1.1.5 1.1 1.1M53.5 57c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5c.2-.1.5.2.5.5'/%3E%3Cpath fill='%2383bf4f' d='M54.4 55.4c0 .3-.2-.1-.5-.1s-.5.4-.5.1s.2-.5.5-.5s.5.2.5.5m4.4 2.6c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7c.3 0 .7.3.7.7m2-1.9c0 .6-.5-.3-1.1-.3s-1.1.9-1.1.3s.5-1.1 1.1-1.1s1.1.5 1.1 1.1m0 2.5c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5s.5.2.5.5m-4.7-4.3c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7s.7.3.7.7M12 56.2c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.3-.5-.8-.9-1.4-.9c-.4 0-.7.1-1 .3v-.3c0-.9-.7-1.6-1.6-1.6c-.8 0-1.4.6-1.5 1.3c-.2-.2-.4-.2-.7-.2c-.6 0-1 .5-1 1.1v6.3h8.4c.9 0 1.6-.7 1.6-1.6c0-.4-.2-.8-.4-1.1c.2-.4.4-.8.4-1.3'/%3E%3Cpath fill='%23699635' d='M12 58.5c0-.4-.2-.8-.4-1.1c.3-.4.4-.8.4-1.3c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.2-.3-.4-.6-.8-.8c-.6.2-.9.8-.9 1.4c0 .2 0 .3.1.4c-.1-.1-.3-.1-.5-.1c-.6 0-1.1.5-1.1 1.1q0 .6.6.9c-.2.3-.4.7-.4 1.1c0 1 .8 1.8 1.8 1.8h2.4c.9.2 1.6-.5 1.6-1.4m-6.2.3c0 .6-.5-.2-1.1-.2s-1.1.8-1.1.2s.5-1.1 1.1-1.1s1.1.5 1.1 1.1M3.5 57c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5c.2-.1.5.2.5.5'/%3E%3Cpath fill='%2383bf4f' d='M4.4 55.4c0 .3-.2-.1-.5-.1s-.5.4-.5.1s.2-.5.5-.5c.2 0 .5.2.5.5M8.8 58c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7c.3 0 .7.3.7.7m2-1.9c0 .6-.5-.3-1.1-.3s-1.1.9-1.1.3s.6-1.1 1.1-1.1c.6 0 1.1.5 1.1 1.1m0 2.5c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5c.3-.1.5.2.5.5m-4.7-4.3c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7s.7.3.7.7'/%3E%3C/svg%3E");
  }
  .emojione--shopping-cart {
    display: inline-block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23b2c1c0' d='M53.1 38.6h-7.5v3.8h7.5c1 0 1.9.8 1.9 1.9s-.8 1.9-1.9 1.9H6.3c-1 0-1.9.8-1.9 1.9c0 1 .8 1.9 1.9 1.9h46.9c3.1 0 5.6-2.5 5.6-5.6c0-3.3-2.6-5.8-5.7-5.8m1.4-12.9l-3.7-.3c0-.1 2.3-13.8 2.8-16.6c.3-1.6.9-6.1 6.6-6.1v3.8c-2.3 0-2.6.9-2.8 2.6c-.6 2.8-2.9 16.4-2.9 16.6'/%3E%3Cpath fill='%23f15744' d='M54.7 12.3H4c-1.9 0-2.2 1.8-1.9 2.8l5.7 25.4c.3 1 1.3 1.8 2.4 1.8H50c1 0 2-.8 2.2-1.9l4.2-26.3c.1-.9-.7-1.8-1.7-1.8M6.9 20.8l-1-3.8c-.1-.5.2-.9.7-.9h7.1c.5 0 1 .4 1 .9l.4 3.8c.1.5-.3.9-.8.9H8c-.5 0-1-.4-1.1-.9m3.2 9.3c-.5 0-1-.4-1.2-.9l-.7-2.9c-.1-.5.2-.9.7-.9h5.7c.5 0 1 .4 1 .9l.3 2.8c.1.5-.3.9-.8.9c.1.1-5 .1-5 .1m6 8.5h-3.9c-.5 0-1-.4-1.2-.9l-.7-2.9c-.1-.5.2-.9.7-.9h4.5c.5 0 1 .4 1 .9l.3 2.8c.2.5-.2 1-.7 1m11.5-1c0 .5-.4.9-.9.9h-4.9c-.5 0-1-.4-1-.9l-.3-2.8c-.1-.5.3-.9.8-.9h5.4c.5 0 .9.4.9.9zm0-8.4c0 .5-.4.9-.9.9h-5.8c-.5 0-1-.4-1-.9l-.3-2.8c-.1-.5.3-.9.8-.9h6.3c.5 0 .9.4.9.9zm0-8.4c0 .5-.4.9-.9.9H20c-.5 0-1-.4-1-.9l-.5-3.8c-.1-.5.3-.9.8-.9h7.3c.5 0 .9.4.9.9c.1 0 .1 3.8.1 3.8m10.2 16.8c-.1.5-.5.9-1 .9h-4.4c-.5 0-.9-.4-.9-.9v-2.8c0-.5.4-.9.9-.9h4.9c.5 0 .9.4.8.9zm.9-8.4c-.1.5-.5.9-1 .9h-5.3c-.5 0-.9-.4-.9-.9v-2.8c0-.5.4-.9.9-.9h5.8c.5 0 .9.4.8.9zm.9-8.4c-.1.5-.5.9-1 .9h-6.2c-.5 0-.9-.4-.9-.9V17c0-.5.4-.9.9-.9h6.8c.5 0 .9.4.8.9zm8.7 16.8c-.1.5-.6.9-1.1.9h-4.8c-.5 0-.9-.4-.8-.9l.3-2.8c.1-.5.5-.9 1-.9H48c.5 0 .9.4.8.9zm1.3-8.4c-.1.5-.6.9-1.1.9h-5.3c-.5 0-.9-.4-.8-.9l.3-2.8c.1-.5.5-.9 1-.9h5.5c.5 0 .9.4.8.9zm1.3-8.4c-.1.5-.6.9-1.1.9h-5.7c-.5 0-.9-.4-.8-.9l.4-3.8c.1-.5.5-.9 1-.9h5.9c.5 0 .9.4.8.9z'/%3E%3Ccircle cx='12.3' cy='56.4' r='5.6' fill='%2362727a'/%3E%3Ccircle cx='12.3' cy='56.4' r='2.8' fill='%23fff'/%3E%3Ccircle cx='46.1' cy='56.4' r='5.6' fill='%2362727a'/%3E%3Cpath fill='%23fff' d='M48.9 56.4c0 1.6-1.3 2.8-2.8 2.8c-1.6 0-2.8-1.3-2.8-2.8c0-1.6 1.3-2.8 2.8-2.8s2.8 1.2 2.8 2.8'/%3E%3Cpath fill='%2362727a' d='M61.1 2h-2.8v5.6h2.8c.5 0 .9-.4.9-.9V2.9c0-.5-.4-.9-.9-.9'/%3E%3Cpath fill='%23f15744' d='M12.3 48.9c-4.1 0-7.5 3.4-7.5 7.5h15c0-4.2-3.3-7.5-7.5-7.5m33.8 0c-4.1 0-7.5 3.4-7.5 7.5h15c0-4.2-3.4-7.5-7.5-7.5'/%3E%3C/svg%3E");
  }
  .footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: auto;
    background-color: #20264D;
    padding: 10px;
}
.right-footer{
    /* border: 2px solid black; */
    height: auto;
    width: 50vw;
    padding-top: 10px;
    font-family: anek;
    font-size: 10px;
    color: #FFAE00;
    /* padding-top: 10px; */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.right-footer p{
    /* background-color: #FFAE00; */
    color: white;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
}
.call-icon{
    display: flex;
    gap: 10px;
    /* border: 2px solid black; */
    justify-content: flex-end;
    flex-direction: row;
    margin-right: 62.5px;
}

.el--phone-alt {
    display: inline-block;
    width: 35px;
    height: 35px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 1200'%3E%3Cpath fill='%23000' d='M600 0C268.629 0 0 268.629 0 600s268.629 600 600 600s600-268.629 600-600S931.371 0 600 0M384.375 238.33c12.362-.729 23.536 6.66 32.007 19.775l82.031 155.566c8.637 18.434 3.729 38.172-9.155 51.343l-37.573 37.573c-2.319 3.178-3.845 6.757-3.882 10.693c14.409 55.775 58.117 107.223 96.681 142.603c38.562 35.38 80.009 83.281 133.812 94.629c6.65 1.855 14.797 2.52 19.556-1.903l43.652-44.458c15.068-11.421 36.866-16.956 52.954-7.617h.732l148.021 87.378c21.728 13.619 23.979 39.944 8.423 55.957L849.683 941.016c-15.056 15.44-35.058 20.631-54.491 20.654c-85.948-2.575-167.158-44.759-233.862-88.11c-109.49-79.653-209.923-178.446-272.975-297.803c-24.182-50.05-52.589-113.91-49.878-169.774c.242-21.016 5.928-41.605 20.728-55.151l101.953-101.953c7.942-6.758 15.799-10.111 23.217-10.549'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    color: #FFAE00;
    /* height: 35px;
    width: 35px; */
    margin-top: 10px;
}
.call-icon-content{
    font-family: anek;
    font-size: 15px;
    display: flex;
    flex-direction: column;
}
.call-icon-content p{
    text-align: right;
    /* border: 2px solid black; */
}
.brief-summary{
    color: white;
    font-family: anek;
    font-size: 10px;
    width: 150px;
    line-height: 15px;
}
.loc-icon{
    padding-left: 5px;
    padding-top: 15px;
    display: flex;
    gap: 10px;
    font-size: 12px;
    justify-content: flex-end;
    flex-direction: row;
}
.mdi--location-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 20a8 8 0 0 1-8-8a8 8 0 0 1 8-8a8 8 0 0 1 8 8a8 8 0 0 1-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 10.5a1.5 1.5 0 0 1-1.5-1.5A1.5 1.5 0 0 1 12 9.5a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5m0-5.3c-2.1 0-3.8 1.7-3.8 3.8c0 3 3.8 6.5 3.8 6.5s3.8-3.5 3.8-6.5c0-2.1-1.7-3.8-3.8-3.8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.loc-icon-content p{
    /* border: 2px solid black; */
    color: white;
    width: fit-content;
    font: anek;
    font-size: 15px;
    width: 13vw;
}
.logo-footer img{
    height: auto;
    width: 175px;
}
.brief-summary{
    color: white;
    font-family: anek;
    font-size: 20px;
    width: 25vw;
    line-height: 25px;
}
@media (max-width:600px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #20264D;
        gap: 0;
        overflow: hidden;
    }
    nav ul li{
        padding: 20px;
    }
    .menu-items{
        display: block;
    }
    #menulist{
        transform: all;
        transition: 1s;
    }
    .upper-section{
        /* border: 2px solid black; */
        width: 100vw;
        height: auto;
        display: flex;
    }
    .upper-left-section img{
        width: 50vw;
        height: auto;
        /* border: 2px solid black; */
    }
    .upper-right-section{
        /* border: 2px solid black; */
        padding-right: 3vw;
    }
    .product-title p{
        /* border: 2px solid black; */
        font-family: anek;
        font-size: 4.5vw;
        line-height: 20px;
        margin-top: 6vw;
    }
    .cost-section{
        display: flex;
        align-items: baseline;
        gap: 5px;
        /* border: 2px solid black; */
    }
    .sp{
        font-family: anek;
        font-size: 4vw;
        color: red;
    }
    .gst{
        font-family: anek;
        font-size: 2.5vw;
    }
    .lower-section{
        /* border: 2px solid black; */
        width: 100vw;
        height: auto;
        margin-bottom: 25px;
    }
    .product-detail-section{
        /* border: 2px solid black; */
        display: flex;

    }
    .row{
        display: flex;
        width: 44vw;
        justify-content: space-between;
        margin-left: 10px;
    }
    .col1{
        /* border: 2px solid black; */
        text-align: left;
        font-family: anek;
        font-size: 2.5vw;
    }
    .col2{
        /* border: 2px solid black; */
        text-align: right;
        font-family: anek;
        font-size: 2.5vw;
        color: #353333;
    }
    a{
        text-decoration: none;
    }
    .order-button{
        background-color: #56D260;
        font-family: anek;
        font-size: 3.5vw;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-radius: 7.5px;
        margin-top: 25px;
        box-shadow: 0 0 5px grey;
    }
    .item-box{
        width: 31vw;
        /* height: 10vw; */
        border-radius: 5px;
        background-color: #FFAE00;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 2px solid black; */
        box-shadow: 0 5px 10px #B1B0B0;
    }
    .twemoji--building-construction {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%2366757f' d='M28.25 8.513a.263.263 0 0 0-.263-.263h-.475a.263.263 0 0 0-.263.263v11.475c0 .145.117.263.263.263h.475a.263.263 0 0 0 .263-.263z'/%3E%3Cg fill='%23f19020'%3E%3Ccircle cx='27.75' cy='19.75' r='1.5'/%3E%3Ccircle cx='27.75' cy='22.25' r='1'/%3E%3C/g%3E%3Cpath fill='%23bd2032' d='M33.25 8.25h-4.129L9.946.29L9.944.289h-.001c-.016-.007-.032-.005-.047-.01C9.849.265 9.802.25 9.75.25h-.002a.5.5 0 0 0-.19.038a.5.5 0 0 0-.122.082c-.012.009-.026.014-.037.025a.5.5 0 0 0-.11.164V.56c-.004.009-.003.02-.006.029l-5.541 7.81l-.006.014a.99.99 0 0 0-.486.837v2a1 1 0 0 0 1 1h1.495L2.031 34H.25v2h18.958v-2h-1.74l-3.713-21.75H33.25a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1m-21.769 4L9.75 13.639L8.02 12.25zM9.75 21.3l3.667 2.404l-3.667 2l-3.667-2zm-3.639.71l.474-2.784l1.866 1.223zm4.938-1.561l1.87-1.225l.477 2.789zm-1.299-.866l-2.828-1.885l2.828-2.322l2.828 2.322zm-2.563-3.887l.362-2.127l1.131.928zm3.633-1.198l1.132-.929l.364 2.13zM5.073 8.25L9.25 2.362V6.25h-2a1 1 0 0 0-1 1v1zm.53 16.738l2.73 1.489l-3.29 1.794zM15.443 34H4.067l.686-4.024L9.75 27.25l5.006 2.731zm-1.54-9.015l.562 3.291l-3.298-1.799zM13.25 8.25v-1a1 1 0 0 0-1-1h-2V1.499L26.513 8.25zm2 3h-1.16v-2h1.16zm3 0h-2v-2h2zm3 0h-2v-2h2zm3 0h-2v-2h2zm3 0h-2v-2h2zm3 0h-2v-2h2zm3-.5a.5.5 0 0 1-.5.5h-1.5v-2h1.5a.5.5 0 0 1 .5.5z'/%3E%3Cpath fill='%234b545d' d='M12.25 7.25h-2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h3v-4z'/%3E%3Cpath fill='%23cdd7df' d='M11.25 7.25h2v4h-2z'/%3E%3Cpath fill='%2366757f' d='M34.844 24v-1H20.656v1h.844v2.469h-.844v1h14.188v-1H34V24z'/%3E%3C/svg%3E");
      }
    .item-box p{
        text-align: center;
        font-family: anek;
        font-size: 4vw;
        line-height: 15px;
        padding: 10px;
        color: white;
    }
    .icon-vector{
        display: flex;
        /* border: 2px solid black; */
        width: 100%;
        aspect-ratio: 2;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .upper-box{
        display: flex;
        gap: 2vw;
        margin-top: 5vw;
    }
    .container-box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lower-box{
        margin-top: 5vw;
        display: flex;
        gap: 2vw;
    }
    .noto-v1--construction-worker {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%231565c0' d='M7.98 118.17v9.89h87.14v-9.89c0-15.17-21.39-22.87-43.24-22.84c-21.71.03-43.9 6.78-43.9 22.84'/%3E%3Cpath fill='%23e49500' d='M51.57 90.33h-9.08v9.59c0 4.34 3.7 7.86 8.26 7.86h1.65c4.56 0 8.26-3.52 8.26-7.86v-9.59z'/%3E%3Cpath fill='%23444' d='M60.85 78.19H42.39c-1.06 0-1.51.71-.81 1.78c.98 1.49 4.61 4.36 10.04 4.36s9.06-2.87 10.04-4.36c.7-1.07.25-1.78-.81-1.78'/%3E%3Cpath fill='%23e49500' d='M56.03 70.35c-1.57.44-3.2.66-4.46.66s-2.89-.22-4.46-.66c-.67-.19-.94.45-.69.87c.5.88 2.5 2.64 5.15 2.64s4.65-1.77 5.15-2.64c.24-.43-.02-1.06-.69-.87'/%3E%3Cpath fill='%23e39400' d='M83.76 52.5s5.89 1.02 5.89 7.37c0 5.6-4.3 7.81-8.6 7.81V52.5zm-64.27 0s-5.89 1.02-5.89 7.37c0 5.6 4.3 7.81 8.6 7.81V52.5z'/%3E%3Cpath fill='%23fac01b' d='M51.62 10.94c-25.4 0-32.04 19.69-32.04 47.35c0 28.68 18.43 36.1 32.04 36.1c13.41 0 32.04-7.2 32.04-36.1c.01-27.67-6.64-47.35-32.04-47.35'/%3E%3Cpath fill='%23444' d='M41.07 60.85c0 2.86-1.91 5.17-4.28 5.17c-2.36 0-4.29-2.32-4.29-5.17c0-2.86 1.92-5.18 4.29-5.18s4.28 2.32 4.28 5.18m21.1 0c0 2.86 1.91 5.17 4.29 5.17c2.36 0 4.28-2.32 4.28-5.17c0-2.86-1.92-5.18-4.28-5.18c-2.38 0-4.29 2.32-4.29 5.18'/%3E%3Cpath fill='%23513f35' d='M60.9 78.32H42.36c-1.06 0-1.52.71-.82 1.79c.98 1.5 4.64 4.38 10.09 4.38s9.11-2.88 10.09-4.38c.7-1.07.24-1.79-.82-1.79'/%3E%3Cpath fill='%23e39400' d='M56.1 70.44c-1.58.45-3.22.66-4.48.66s-2.9-.22-4.48-.66c-.67-.19-.94.45-.7.87c.5.88 2.52 2.66 5.18 2.66s4.68-1.78 5.18-2.66c.24-.42-.02-1.06-.7-.87'/%3E%3Cpath fill='%236d4c41' d='M52.39 7.32s-.5-.02-.71-.01c-.21 0-.71.01-.71.01c-27.41.53-35.67 17.02-35.67 28.46c0 11.11.01 19.28.01 19.28s.44-.45 1.24-1.08c.86-.67 1.81-1.04 1.81-1.04l1.38 9.28l9.13-19.08c.06-.12.18-.19.31-.17l5.41.6c5.44.6 10.91.9 16.37.91v.01c.24 0 .47-.01.71-.01s.47.01.71.01v-.01c5.46-.02 10.93-.31 16.37-.91l5.41-.6c.13-.01.25.06.31.17l9.13 19.08l1.4-9.29s.95.38 1.81 1.04c.81.63 1.24 1.08 1.24 1.08s.01-8.16.01-19.28c0-11.43-8.26-27.92-35.67-28.45'/%3E%3Cpath fill='%23ff6d00' d='M36.34 96.54q-2.52.42-4.92.99c-2.31.55-4.53 1.2-6.61 1.96c-1.63.59-3.19 1.25-4.64 1.98v26.56h26.26l-6.18-19.31zm42.21 3.17c-2.09-.8-4.31-1.49-6.63-2.08c-1.69-.42-3.43-.8-5.21-1.1l-3.9 12.19l-6.18 19.31h26.26v-26.4c-1.37-.7-2.83-1.34-4.34-1.92'/%3E%3Cpath fill='%23ff0' d='m24.8 99.49l1.81 28.54h14l-9.2-30.5c-2.31.55-4.52 1.2-6.61 1.96m47.12-1.86l-9.17 30.4h14l1.8-28.32c-2.09-.8-4.31-1.49-6.63-2.08'/%3E%3Cellipse cx='51.52' cy='37.88' fill='%23ffea00' rx='43.57' ry='11.38'/%3E%3Cellipse cx='51.52' cy='35.81' fill='%23ff0' rx='43.57' ry='11.38'/%3E%3Cdefs%3E%3Cpath id='notoV1ConstructionWorker0' d='M90.42 34.28C89.77 22.02 80.53 1.42 52.28.89c0 0-.53-.02-.76-.01c-.23 0-.76.01-.76.01c-28.26.53-37.5 21.13-38.14 33.39c0 9.59 77.8 9.59 77.8 0'/%3E%3C/defs%3E%3Cuse fill='%23ff0' href='%23notoV1ConstructionWorker0'/%3E%3CclipPath id='notoV1ConstructionWorker1'%3E%3Cuse href='%23notoV1ConstructionWorker0'/%3E%3C/clipPath%3E%3Cpath fill='%23ffea00' d='M34.22 3.23L41.17.88v23.75c-1.41-10.26-3.43-17.69-6.95-21.4m34.59 0L61.86.88v23.75c1.42-10.26 3.44-17.69 6.95-21.4' clip-path='url(%23notoV1ConstructionWorker1)'/%3E%3Cpath fill='%23ff0' d='M59.57 37.61h-16.1c-1.47 0-2.67-1.2-2.67-2.67v-32c0-1.47 1.2-2.67 2.67-2.67h16.1c1.47 0 2.67 1.2 2.67 2.67v32c0 1.48-1.2 2.67-2.67 2.67'/%3E%3Cpath fill='%23fbc11b' d='M101.86 107.61c1.5.37 2.46 1.43 3.13 2.75c1.67-.3 4.55-.6 5.39-.58c.99.03 2.3.14 2.52 2.17c.14 1.32-.36 2.41-2.05 2.57c-.63.06-1.28.1-1.92.13l.23.74c.59-.01 1.12-.03 1.53-.03c1.71-.02 2.68.89 2.68 2.7c0 1.59-1.37 2.34-2.37 2.4c-.53.03-2.01-.05-3.47-.19l-.15.31l-.06.09c.92.14 1.8.29 2.42.4c1.67.3 2.47 1.41 2.28 2.73c-.23 1.6-1.66 2.04-2.65 2.01c-.74-.02-3.34-.43-5.08-.8l-.34.49q.18.03.39.06c.02 0 .04.01.07.01l.35.06c.03 0 .05.01.08.01c.14.02.28.05.42.07h.02c.15.02.3.05.45.08c.03 0 .06.01.08.01l.35.06c.05.01.09.02.14.02c.1.02.2.04.29.05l.15.03c.1.02.19.04.28.05l.14.03c.13.03.27.05.39.08c1.53.32 2.11 1.01 1.92 2.22c-.26 1.7-1.97 2.08-2.88 1.99c-.91-.08-3.97-.71-4.97-1.15l-.18-.09l-.35.5c-4.5-.3-7.73-2.18-7.73-2.18c-2.64-1.48-3.08-2.62-3.52-4.43c-.5-2.06-.38-4.5-.36-4.88c.16-4.1 1.07-6.75 4.38-8.95c.8-.53 1.97-1.46 4.56-1.76c1-.1 2.44-.03 3.44.22'/%3E%3Cpath fill='%23e49500' d='M105.6 114.42s.04-2.06-.61-4.06l.72-.13s.51 1.42.69 3.52c.03.34.04.65.04.95l.64-.04l4.29-.24s-.32.06-.32.54c0 .2.12.33.21.41c-.18-.02-.38-.04-.58-.03l-4.26.11c-.01.12-.01.24-.02.37c-.1 1.74-.51 3.41-1.48 4.05c3.22.38 6.08.57 6.08.57c-.56.23-.32.91-.32.91c-2.17-.59-7.43-.9-7.43-.9c-2.22-.19-2.52 1.31-2.52 1.31c-.41 1.81 1.56 2.64 1.56 2.64c.26.15 2.61.62 4.29.94l1.68.31l.47.09c-.05-.01-.25-.02-.33.31c-.04.16 0 .27.03.34c-.25-.11-.55-.21-.9-.28c-.79-.16-3.18-.55-3.36-.58l-.6-.08c-1.98-.26-2.46.09-2.46.09c-1.1.58-.78 1.98-.78 1.98c.24 1.35 1.73 1.77 1.73 1.77c.57.17 3.59.9 3.59.9l-4.57-.6c-.32-.1-.44-.25-.62-.39c-1.61-1.32-.93-3.11-.93-3.11c.25-.69.77-1 .77-1c.31-.19.67-.29 1.04-.33c-1.87-.99-1.57-2.99-1.57-2.99c.24-1.23 1.13-1.75 1.83-1.97c-.06-.05-.13-.1-.19-.16c0 0-1.2-.79-.76-4.18c.15-1.14.13-1.3.01-2.02c0 0-.43-1.54-1.71-1.05c0 0-.43.11-1.1.64c0 0-.54.42-.53-.24c0-.2.14-.56.41-.87c0 0 .28-.33.97-.52c0 0 1.79-.71 2.68 1.08c.47.94.38 1.56.23 2.52c0 0-.28 3.03.51 4c0 0 .78.89 2.03.34c.01.02 1.71-.92 1.45-4.92'/%3E%3Cpath fill='%23f79329' d='m96.25 126.16l7.21-51.92l7.98 1.2l-8.61 51.71c-.2 1.33-1.83 2.19-3.63 1.92c-1.82-.27-3.15-1.58-2.95-2.91'/%3E%3Cdefs%3E%3Cpath id='notoV1ConstructionWorker2' d='M87.43 70.52c3.43-5.21 9.39-7.36 14.03-7.74c1.2-.1 2.4.06 3.28.16c1.53.18 4.73.82 4.73.82l3.96.69c.1.02.19.05.29.07c.84.13 1.79.21 2.65.13c1.07-.1 1.59-.71 2.8-.93c.58-.1 1.22-.1 1.77-.05c.19-.01.38 0 .57.04l.4.07c.22.03.36.06.36.06l3.52.61c1.4.24 2.37 1.41 2.17 2.6l-2.07 11.98c-.21 1.19-1.52 1.96-2.92 1.72l-3.52-.61s-.15-.02-.36-.06l-.4-.07c-.19-.03-.38-.09-.55-.15c-.53-.15-2.06-2.04-2.57-2.33c-1.07-.61-1.36.79-2.7 1.15c-.76.2-1.67.04-1.91 0l-.32-.06c-.26-.04-.5-.08-.63-.11l-6.98-1.21c-.98-.17-1.73-.79-2.04-1.55c-.08-.21-.29-.87-.33-1.04c-.39-1.72-1-4.04-3.04-4.39c-2.23-.39-4.68 1.21-4.68 1.21s-2.16 1.52-4.16.85c-1.98-.66-1.35-1.86-1.35-1.86'/%3E%3C/defs%3E%3Cuse fill='%2378a3ad' href='%23notoV1ConstructionWorker2'/%3E%3Cpath fill='%23f79329' d='M104.49 62.08c-.15.45-.16.99-.19 1.46c-.03.42.19.85.52 1.12c.34.28.82.47 1.24.61c.84.28 1.68.5 2.56.61c.44.06.87.03 1.31 0c.42-.02.86-.01 1.27-.14c.36-.11.77-.19 1.12-.34c.44-.19.69-.25.84-.72c.14-.44.26-.85.31-1.31c.07-.64-.01-1.05-.57-1.42c-1.06-.71-2.46-.89-3.68-1.05c-1.15-.15-2.41-.16-3.5.17c-.64.21-1.02.37-1.23 1.01'/%3E%3Cpath fill='%23fff' d='M120.73 68.93c-.81-.25-1.12-.45-1.31-.8c-.25-.48-.05-1.2.14-1.71c.17-.47.86-.62 1.71-.51s2.65.35 2.89.41c.33.08.64.21.86.39c.62.52.62 1.53.18 2.18c-.26.39-.71.51-1.19.52c-.52.02-2.75-.31-3.28-.48m-6.7.58c-1.27.21-2.9.13-3.34.13c-1.66-.01-3.81-.27-5.88-.79c-2.15-.54-3.17-1.56-4.37-1.91c-.94-.27-2.08-.15-3.03-.27c-.1-.01-.65-.08-.8-.3c-.25-.39.25-.7 1.12-.99c.41-.14 2.29-.7 4.23-.72c.11 0 .58.01.79.3c.94 1.29 1.53 1.9 3.23 2.28c1.55.35 3.2.58 5.17.52s1.93-1.06 2.95-.96c.24.02.55.06.82.11c.59.12.62.49.58.73c-.06.38-.18.86-.23 1.12c-.09.5-.85.69-1.24.75'/%3E%3Cpath fill='%23fbc11b' d='M110.89 120.45h.11c.99-.06 2.36-.81 2.37-2.4c0-1.74-.89-2.64-2.48-2.69l-.07-.37l.52-.03c.88-.21 1.34-.74 1.5-1.42c.06-.1.08-1.24.07-1.37c-.08-1.07-.47-1.57-.47-1.57c-.4-1.02-2.86-.79-2.86-.79l-4.49.6c-.16-.05-.32-.1-.47-.15c-.65-1.02-1.52-1.81-2.77-2.12c-1-.24-2.43-.32-3.44-.2c-2.59.3-3.76 1.23-4.56 1.76c-.17.11-.31.23-.46.35c.91 1.65 2.29 3.38 3.98 3.09c.11-.25.29-.51.37-.6c.36-.39.86-.67 1.39-.73c.83-.1 1.69.31 2.14 1.01c.7 1.08-.11 2.51-.16 3.8c-.02.61.48 1.2.6 1.8c.11.57.33 1.17.82 1.48c.03.02.08.02.11.04c-.03.1-.1.3-.18.56c-.32.02-.63.08-.9.23c-.62.34-.94 1.09-.86 1.78c.06.51.33.98.71 1.33c-.24.78-.44 1.48-.54 1.89c-.69.53-.76 1.66-.28 2.41c.5.79 1.42 1.22 2.33 1.45s1.85.31 2.74.61c-.05-.01-.09-.01-.14-.02c.45.08.83.14 1.07.16c.9.08 2.62-.3 2.88-1.99c.15-.97-.21-1.6-1.14-1.98c-.07-.25-.19-.53-.26-.74c.17.03.35.07.52.1c.33.04.61.07.78.07c.99.03 2.43-.41 2.65-2.01c.15-1.06-.34-1.97-1.4-2.45c-.39-.08-.79-.14-1.18-.21c.16-.26.32-.52.48-.77z'/%3E%3Cpath fill='%23e49500' d='M111.33 115.39c-.14-.18-.17-.47-.17-.47h-.03c-.36-.03-4.67-.21-4.67-.21c-.02-1.39-.59-3.05-.98-4.38c-.26-.03-.57 0-.84-.09c.34 1.31.97 2.84 1.01 4.18c.03.9-.03 1.79-.22 2.67c-.15.71-.39 1.43-.91 1.94s-1.37.72-1.98.33c-.49-.31-.7-.91-.82-1.48c-.12-.6-.17-1.21-.14-1.81c.05-1.29.4-2.7-.29-3.78c-.45-.7-1.32-1.11-2.14-1.01c-.53.06-1.03.34-1.39.73c-.17.19-.83 1.13-.15 1.15c.19 0 .36-.13.51-.25c.46-.37 1.04-.71 1.61-.54c.7.21.97 1.06 1 1.79c.04 1-.17 1.99-.17 2.98c0 1 .27 2.07 1.04 2.7c-1.04.23-1.81 1.26-1.84 2.33s.64 2.09 1.57 2.61c-.87.02-1.63.72-1.86 1.56s.03 1.76.56 2.45c.23.3.51.56.85.72c.07.03.15.05.23.07l.32-.46l-.11.15l-.22.31c.23.07.48.11.72.15c.14.02.28.04.43.05c1.09.14 2.18.28 3.27.41c.05.01.09.01.14.02c-.89-.3-1.83-.38-2.74-.61s-1.82-.66-2.33-1.45c-.5-.79-.41-2 .38-2.49c.48-.3 1.07-.28 1.63-.24c.89.06 1.77.17 2.65.31c.24.04.48.08.71.12l.18.03c.05.01.09.02.14.02c.1.02.2.04.29.05l.15.03c.1.02.19.04.28.05l.14.03c.13.03.27.05.39.08c.27.06.49.13.7.2c.06.02.13.03.19.05c-.14-.23.03-.58.29-.62l-.14-.03l-4.89-.96c-.64-.13-1.3-.26-1.85-.59c-.6-.36-1.06-.98-1.15-1.68s.24-1.45.86-1.78c.47-.26 1.03-.25 1.57-.24c2.51.08 5.02.37 7.49.86c.02 0 .05.01.07.01c-.16-.31 0-.75.32-.89c-.04 0-.08-.01-.11-.01c-1.98-.18-3.96-.37-5.94-.55c1.21-1.06 1.39-2.85 1.48-4.45c0-.01 4.71-.07 4.91-.07'/%3E%3C/svg%3E");
      }
      .pixelarticons--contact-plus {
        display: inline-block;
        width: 60px;
        height: 60px;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M2 3h22v11h-2V5H2v14h12v2H0V3zm8 4H6v4h4zm-6 6h8v4H4zm16-6h-6v2h6zm-6 4h6v2h-6zm3 4h-3v2h3zm4 6v3h-2v-3h-3v-2h3v-3h2v3h3v2z'/%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      }
      .twemoji--delivery-truck {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%23dd2e44' d='M36 27a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4v-3a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23ffcc4d' d='m19 13l-.979-1H7.146C4 12 3 14 3 14l-3 5.959V25h19z'/%3E%3Cpath fill='%2355acee' d='M9 20H2l2-4s1-2 3-2h2z'/%3E%3Ccircle cx='9' cy='31' r='4' fill='%23292f33'/%3E%3Ccircle cx='9' cy='31' r='2' fill='%23ccd6dd'/%3E%3Ccircle cx='27' cy='31' r='4' fill='%23292f33'/%3E%3Ccircle cx='27' cy='31' r='2' fill='%23ccd6dd'/%3E%3Cpath fill='%23ccd6dd' d='M32 8H17a4 4 0 0 0-4 4v13h23V12a4 4 0 0 0-4-4'/%3E%3C/svg%3E");
      }
      .emojione--house {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23d0d0d0' d='M32.4 4.3h3.4v6.5h-3.4z'/%3E%3Cpath fill='%2394989b' d='M35.8 4.3h2.3v6.5h-2.3z'/%3E%3Cpath fill='%23d0d0d0' d='M31.2 2h5.7v2.3h-5.7z'/%3E%3Cpath fill='%2394989b' d='M36.9 2h2.3v2.3h-2.3z'/%3E%3Cpath fill='%23ed4c5c' d='M24.2 2L2.7 14.3h43.1z'/%3E%3Cpath fill='%23f9f3d9' d='M8.8 14.3h30.9v19H8.8z'/%3E%3Cpath fill='%23d6eef0' d='M20.4 20h7.7v7.7h-7.7z'/%3E%3Cpath fill='%2389664c' d='M19.4 19v9.6H29V19zm8.7 1v3.4h-3.4V20zm-4.3 0v3.4h-3.4V20zm-3.4 7.7v-3.4h3.4v3.4zm4.3 0v-3.4h3.4v3.4z'/%3E%3Cpath fill='%23f9f3d9' d='M6.4 40.9H52v19.3H6.4z'/%3E%3Cpath fill='%23d6eef0' d='M36.9 46.6h7.7v7.7h-7.7z'/%3E%3Cpath fill='%2389664c' d='M35.9 45.7v9.6h9.6v-9.6zm8.7.9V50h-3.4v-3.4zm-4.4 0V50h-3.4v-3.4zm-3.3 7.7V51h3.4v3.4h-3.4zm4.3 0V51h3.4v3.4h-3.4zm-22.8-6h8.4v11.8h-8.4z'/%3E%3Cpath fill='%23dbb471' d='M17.6 46.6h10.1v1.7H17.6z'/%3E%3Ccircle cx='25.4' cy='53.4' r='.6' fill='%23f9f3d9'/%3E%3Cpath fill='%2383bf4f' d='M2 60.1h60V62H2z'/%3E%3Cpath fill='%23ed4c5c' d='M49.6 33.4H8.7L2 40.9h54.4z'/%3E%3Cpath fill='%2383bf4f' d='M62 56.2c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.3-.5-.8-.9-1.4-.9c-.4 0-.7.1-1 .3v-.3c0-.9-.7-1.6-1.6-1.6c-.8 0-1.4.6-1.6 1.3c-.2-.2-.4-.2-.7-.2c-.6 0-1.1.5-1.1 1.1v6.3h8.4c.9 0 1.6-.7 1.6-1.6c0-.4-.2-.8-.4-1.1c.4-.4.6-.8.6-1.3'/%3E%3Cpath fill='%23699635' d='M62 58.5c0-.4-.2-.8-.4-1.1c.3-.4.4-.8.4-1.3c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.2-.3-.4-.6-.8-.8c-.6.2-.9.8-.9 1.4c0 .2 0 .3.1.4c-.1-.1-.3-.1-.5-.1c-.6 0-1.1.5-1.1 1.1q0 .6.6.9c-.2.3-.4.7-.4 1.1c0 1 .8 1.8 1.8 1.8h2.4c.9.2 1.6-.5 1.6-1.4m-6.2.3c0 .6-.5-.2-1.1-.2s-1.1.8-1.1.2s.5-1.1 1.1-1.1s1.1.5 1.1 1.1M53.5 57c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5c.2-.1.5.2.5.5'/%3E%3Cpath fill='%2383bf4f' d='M54.4 55.4c0 .3-.2-.1-.5-.1s-.5.4-.5.1s.2-.5.5-.5s.5.2.5.5m4.4 2.6c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7c.3 0 .7.3.7.7m2-1.9c0 .6-.5-.3-1.1-.3s-1.1.9-1.1.3s.5-1.1 1.1-1.1s1.1.5 1.1 1.1m0 2.5c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5s.5.2.5.5m-4.7-4.3c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7s.7.3.7.7M12 56.2c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.3-.5-.8-.9-1.4-.9c-.4 0-.7.1-1 .3v-.3c0-.9-.7-1.6-1.6-1.6c-.8 0-1.4.6-1.5 1.3c-.2-.2-.4-.2-.7-.2c-.6 0-1 .5-1 1.1v6.3h8.4c.9 0 1.6-.7 1.6-1.6c0-.4-.2-.8-.4-1.1c.2-.4.4-.8.4-1.3'/%3E%3Cpath fill='%23699635' d='M12 58.5c0-.4-.2-.8-.4-1.1c.3-.4.4-.8.4-1.3c0-1.2-.9-2.1-2.1-2.1c-.2 0-.5 0-.7.1c-.2-.3-.4-.6-.8-.8c-.6.2-.9.8-.9 1.4c0 .2 0 .3.1.4c-.1-.1-.3-.1-.5-.1c-.6 0-1.1.5-1.1 1.1q0 .6.6.9c-.2.3-.4.7-.4 1.1c0 1 .8 1.8 1.8 1.8h2.4c.9.2 1.6-.5 1.6-1.4m-6.2.3c0 .6-.5-.2-1.1-.2s-1.1.8-1.1.2s.5-1.1 1.1-1.1s1.1.5 1.1 1.1M3.5 57c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5c.2-.1.5.2.5.5'/%3E%3Cpath fill='%2383bf4f' d='M4.4 55.4c0 .3-.2-.1-.5-.1s-.5.4-.5.1s.2-.5.5-.5c.2 0 .5.2.5.5M8.8 58c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7c.3 0 .7.3.7.7m2-1.9c0 .6-.5-.3-1.1-.3s-1.1.9-1.1.3s.6-1.1 1.1-1.1c.6 0 1.1.5 1.1 1.1m0 2.5c0 .3-.2 0-.5 0s-.5.3-.5 0s.2-.5.5-.5c.3-.1.5.2.5.5m-4.7-4.3c0 .4-.3-.2-.7-.2s-.7.6-.7.2s.3-.7.7-.7s.7.3.7.7'/%3E%3C/svg%3E");
      }
      .emojione--shopping-cart {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='%23b2c1c0' d='M53.1 38.6h-7.5v3.8h7.5c1 0 1.9.8 1.9 1.9s-.8 1.9-1.9 1.9H6.3c-1 0-1.9.8-1.9 1.9c0 1 .8 1.9 1.9 1.9h46.9c3.1 0 5.6-2.5 5.6-5.6c0-3.3-2.6-5.8-5.7-5.8m1.4-12.9l-3.7-.3c0-.1 2.3-13.8 2.8-16.6c.3-1.6.9-6.1 6.6-6.1v3.8c-2.3 0-2.6.9-2.8 2.6c-.6 2.8-2.9 16.4-2.9 16.6'/%3E%3Cpath fill='%23f15744' d='M54.7 12.3H4c-1.9 0-2.2 1.8-1.9 2.8l5.7 25.4c.3 1 1.3 1.8 2.4 1.8H50c1 0 2-.8 2.2-1.9l4.2-26.3c.1-.9-.7-1.8-1.7-1.8M6.9 20.8l-1-3.8c-.1-.5.2-.9.7-.9h7.1c.5 0 1 .4 1 .9l.4 3.8c.1.5-.3.9-.8.9H8c-.5 0-1-.4-1.1-.9m3.2 9.3c-.5 0-1-.4-1.2-.9l-.7-2.9c-.1-.5.2-.9.7-.9h5.7c.5 0 1 .4 1 .9l.3 2.8c.1.5-.3.9-.8.9c.1.1-5 .1-5 .1m6 8.5h-3.9c-.5 0-1-.4-1.2-.9l-.7-2.9c-.1-.5.2-.9.7-.9h4.5c.5 0 1 .4 1 .9l.3 2.8c.2.5-.2 1-.7 1m11.5-1c0 .5-.4.9-.9.9h-4.9c-.5 0-1-.4-1-.9l-.3-2.8c-.1-.5.3-.9.8-.9h5.4c.5 0 .9.4.9.9zm0-8.4c0 .5-.4.9-.9.9h-5.8c-.5 0-1-.4-1-.9l-.3-2.8c-.1-.5.3-.9.8-.9h6.3c.5 0 .9.4.9.9zm0-8.4c0 .5-.4.9-.9.9H20c-.5 0-1-.4-1-.9l-.5-3.8c-.1-.5.3-.9.8-.9h7.3c.5 0 .9.4.9.9c.1 0 .1 3.8.1 3.8m10.2 16.8c-.1.5-.5.9-1 .9h-4.4c-.5 0-.9-.4-.9-.9v-2.8c0-.5.4-.9.9-.9h4.9c.5 0 .9.4.8.9zm.9-8.4c-.1.5-.5.9-1 .9h-5.3c-.5 0-.9-.4-.9-.9v-2.8c0-.5.4-.9.9-.9h5.8c.5 0 .9.4.8.9zm.9-8.4c-.1.5-.5.9-1 .9h-6.2c-.5 0-.9-.4-.9-.9V17c0-.5.4-.9.9-.9h6.8c.5 0 .9.4.8.9zm8.7 16.8c-.1.5-.6.9-1.1.9h-4.8c-.5 0-.9-.4-.8-.9l.3-2.8c.1-.5.5-.9 1-.9H48c.5 0 .9.4.8.9zm1.3-8.4c-.1.5-.6.9-1.1.9h-5.3c-.5 0-.9-.4-.8-.9l.3-2.8c.1-.5.5-.9 1-.9h5.5c.5 0 .9.4.8.9zm1.3-8.4c-.1.5-.6.9-1.1.9h-5.7c-.5 0-.9-.4-.8-.9l.4-3.8c.1-.5.5-.9 1-.9h5.9c.5 0 .9.4.8.9z'/%3E%3Ccircle cx='12.3' cy='56.4' r='5.6' fill='%2362727a'/%3E%3Ccircle cx='12.3' cy='56.4' r='2.8' fill='%23fff'/%3E%3Ccircle cx='46.1' cy='56.4' r='5.6' fill='%2362727a'/%3E%3Cpath fill='%23fff' d='M48.9 56.4c0 1.6-1.3 2.8-2.8 2.8c-1.6 0-2.8-1.3-2.8-2.8c0-1.6 1.3-2.8 2.8-2.8s2.8 1.2 2.8 2.8'/%3E%3Cpath fill='%2362727a' d='M61.1 2h-2.8v5.6h2.8c.5 0 .9-.4.9-.9V2.9c0-.5-.4-.9-.9-.9'/%3E%3Cpath fill='%23f15744' d='M12.3 48.9c-4.1 0-7.5 3.4-7.5 7.5h15c0-4.2-3.3-7.5-7.5-7.5m33.8 0c-4.1 0-7.5 3.4-7.5 7.5h15c0-4.2-3.4-7.5-7.5-7.5'/%3E%3C/svg%3E");
      }
      .footer{
        display: flex;
        width: 100vw;
        height: auto;
        background-color: #20264D;
        padding: 10px;
        justify-content: center;
        gap: 12.5vw;
    }
    .right-footer{
        /* border: 2px solid black; */
        height: auto;
        width: 50vw;
        padding-top: 10px;
        font-family: anek;
        font-size: 10px;
        color: #FFAE00;
        /* padding-top: 10px; */
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .right-footer p{
        /* background-color: #FFAE00; */
        color: white;
        width: fit-content;
        padding-left: 5px;
        padding-right: 5px;
        line-height: 15px;
    }
    .call-icon{
        display: flex;
        gap: 10px;

    }
    .call-icon i{
        color: #FFAE00;
        padding-top: 5px;
        padding-left: 5px;
    }
    .brief-summary{
        color: white;
        font-family: anek;
        font-size: 10px;
        width: 150px;
        line-height: 15px;
    }
    .loc-icon{
        padding-left: 5px;
        padding-top: 15px;
        display: flex;
        gap: 10px;
        font-size: 12px;
    }
    .loc-icon-content p{
        color: white;
        width: fit-content;
        font: anek;
        font-size: 2.5vw;
    }
    .logo-footer img{
        height: auto;
        width: 18vw;
    }
}
